@use 'sass:map';
@use 'sass:math';
@use '_config.scss' as *;

// main Bootstrap Module
@use 'config/_init-bootstrap.scss';


// |‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾| //
// | Timedoor New Standard                   | //
// |_________________________________________| //

/* root font-size variable -- start */
:root {
    @include fontVar();
}
/* root font-size variable -- end */

/* create font-size class -- start */
@include printFontClass();
/* create font-size class -- end */

/* ratio-item class -- start */
.ratio-item {
    @extend %ratioItem;
}
/* ratio-item class -- end */

// |‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾| //
// | CUSTOM CODE START HERE                  | //
// |_________________________________________| //

// this code is only example, you can delete the code here
.section {
    &__title {
        @include typo(display-1);
    }

    &__desc {
        @include typo(nav-link, true, 3);
    }
}

.cb-loader {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
}

.cb-loader-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background: rgba(0, 0, 0, .5);
}

.cb-loader-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: red;
}