@use '../../_config.scss' as *;

.card-portfolioListing{
    position: relative;
    @include imageRatio(647.59,974.66);
    &__image-container{
        border-radius: 40px;
        overflow: hidden;
    }

    &__title{
        margin-top: 40px;
        font-size: 30px;
        line-height: 1.4;
    }

    &:nth-child(2n){
        top: 120px;
    }
}