.footer{
    position: relative;
    padding: 120px 0px 24px 0px;
    background-color: #222;
    color: #fff;

    .btn-primary-outline__title span:after {
        color: #222;
    }

    &__top{
        border-bottom: 1px solid #fff;
        margin-bottom: 80px;
        padding-bottom: 32px;
    }

    &__title{
        font-size: 90px;
        font-weight: 300;
    }

    &__info{
        margin-bottom: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__info-left{
        display: flex;
        gap: 24px;
    }

    &__social-media-listing{
        list-style: none;
        padding: 0px;
    }
    &__social-media-item{
        display: inline-block;
        margin-right: 32px;
        &:last-child{
            margin-right: 0px;
        }
    }
    &__social-media-link{
        color: #fff;
        position: relative;
        display: block;
        padding: 12px 0;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.00464286em;
        text-transform: capitalize;
        text-decoration: none;
        em {
            display: block;
            position: relative;
            overflow: hidden;
            font-style: normal;
            span {
                display: block;
                transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
                transform-origin: left center;
                &:after {
                    content: attr(data-text);
                    display: block;
                    position: absolute;
                    top: 130%;
                    transform: skewY(10deg);
                    transform-origin: left center;
                    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
        &:focus em span,
        &:hover em span {
            transform: translateY(-130%) skewY(5deg);
        }
        &:focus em span:after,
        &:hover em span:after {
            transform: skewY(-5deg);
        }
    }

    &__social-media-label{
        margin-bottom: 18px;
        color: #7B7C7D;
        font-weight: 400;
    }

    &__copyright{
        font-size: 14px;
        text-align: center;
        font-weight: 300;
    }

}