.side-menu{
    margin: -4px 0;
    &__item {
        position: relative;
        display: block;
        padding: 4px 0;
    }
    &__link {
        display: block;
        position: relative;
        font-size: 38px;
        font-weight: 300;
        letter-spacing: -0.05em;
        line-height: 100%;
        text-decoration: none;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -2px;
            height: 1px;
            transform: scaleX(0);
            transform-origin: right center;
            background: currentColor;
            transition: transform 0.5s, transform-origin 0s;
        }
        em {
            display: block;
            position: relative;
            overflow: hidden;
            padding: 0 0.01em 0.04em 0;
            font-style: normal;
        }
        span {
            display: inline-block;
            color: transparent;
            transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);

            &:after,
            &:before {
                content: attr(data-text);
                display: block;
                position: absolute;
                color: #000;
            }
            &:before {
                top: 0;
                transform: skewY(0);
                transform-origin: right bottom;
                transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
            }
            &:after {
                top: 105%;
                transform: skewY(7deg);
                transform-origin: left top;
                transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
            }
        }
        &:focus span,
        &:hover span {
            transform: translateY(-105%);
        }
        &:focus span:before,
        &:hover span:before {
            transform: skewY(7deg);
        }
        &:focus span:after,
        &:hover span:after {
            transform: skewY(0);
        }
    }

    @media (min-width: 360px) {
        &__link {
            font-size: 42px;
        }
    }    
    @media (min-width: 768px) and (min-height: 550px) {

        &__link {
            font-size: 56px;
        }
    }

    @media (min-width: 1600px) and (min-height: 700px) {
        margin: -9px 0;
        &__item {
            padding: 9px 0;
        }
        &__link {
            font-size: 42px;
        }
    }
}