@use 'sass:math';
@use '../_config.scss' as *;

.topHead{
    padding-top: 80px;
    &__title-wrapper {
        max-width: 70%;
    }

    &__title{
        font-size: 100px;
        font-weight: 300;
        line-height: 1.2;
    }

    &__inner{
        overflow-x: hidden;
    }
}


.aki__line{
    position: relative;
    overflow: hidden !important;
}
